*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.light-mode {
    background-color: #f1f1f1;
    color: #000;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000080;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.container h2 {
    font-size: 24px;
}

input, select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
    }
}

